extends layout

block content
  div
    h1!= username + "'s file hosting (" + ipAddress + ")"
    ul.list-group
    each filename in content
      li.list-group-item
        a(href="/view/" + filename) #{filename}
