link.cssdeck(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css')
link.cssdeck(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css')
.well(style='width: 100%; height: 100%; padding: 8px 0;')
  div(style='width: 100%; align: center')
    ul.nav.nav-list
      li
        label.tree-toggler.nav-header Header 1
        ul.nav.nav-list.tree
          li
            a(href='#') Link
          li
            a(href='#') Link
          li
            label.tree-toggler.nav-header Header 1.1
            ul.nav.nav-list.tree
              li
                a(href='#') Link
              li
                a(href='#') Link
              li
                label.tree-toggler.nav-header Header 1.1.1
                ul.nav.nav-list.tree
                  li
                    a(href='#') Link
                //    a.btn.btn-info.btn-xs(href='#')
                //      span.glyphicon.glyphicon-download-alt
                    // download-alt -> search
                  li
                    a(href='#') Link
script.cssdeck(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script.cssdeck(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
