body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  width: 77%;
  background-image: url('../img/happyPanda.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

li {
  display: table;
}
span {
  display: table-cell;
}
.left {
  text-align: left;
  width: 84%;
}

.right {
  text-align: right;
}

.buttonLink {
  color: inherit;
}

#divider {
    width:5px;
    height:auto;
    display:inline-block;
}
